<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{% block title %}ShortURL - укоротитель ссылок{% endblock title %}</title>
  </head>

  <body>
    {% include "includes/header.html" %}
    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
  </body>
</html>
